body {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: getColor(title);
}

p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 768px;

    @include desktop {
        max-width: 1280px;
    }
}

.section {
    padding: 60px 0;
}

