@mixin s {
    @media screen and (min-width: 320px) {
      @content;
    }
  }
  
  @mixin m {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin l {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }