<footer class="footer">
    <div class="container footer__container">
      <p class="footer__text footer__rights footer__rights-icon">
        <span id="year"></span>
        <span class="footer__rights-border">| All Rights Reserved |</span>
      </p>
      <div class="footer__rights">
        <p class="footer__text">
          Developed with by
          <span class="footer__heart-icon">
            <svg class="icon-heart animation-heart">
              <use href="./images/icons.svg#heart-icon"></use>
            </svg>
          </span>
        </p>
        <button class="footer__text footer__button" type="button">GoIT Students</button>
      </div>
    </div>
    <!-- Okno modalne -->
  <div class="backdrop is-hidden">
    <div class="backdrop-container-team is-hidden" data-modal-team>
      <div class="backdrop-container-team__content-team">
        <button class="modal-content__close-btn-team" type="button" data-modal-team-close>
          <svg class="modal-content__icon-close-team" width="30px" height="30px">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <div class="team-container">
          <ul class="team-list">
            <li class="team-list__item">
              <img
                class="team-img"
                src="./images/men1.png"
                alt="team-leader of developers"
                width="200"
              />
              <div class="team-list__card">
                <div class="team-info">
                  <h3 class="team-list__title-developer">Bolek</h3>
                  <p class="team-list__position-developer">Team Lead</p>
                </div>
                <a
                  class="git-link"
                  href="http://github.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon-github">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list__item">
              <img
                class="team-img"
                src="./images/women1.png"
                alt="developer"
                width="150"
                height="150"
              />
              <div class="team-list__card">
                <div class="team-info">
                  <h3 class="team-list__title-developer">Angelika</h3>
                  <p class="team-list__position-developer">Scrum Master</p>
                </div>
                <a
                  class="git-link"
                  href="https://github.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon-github">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list__item">
              <img
                class="team-img"
                src="./images/men1.png"
                alt="developer"
                width="150"
                height="150"
              />
              <div class="team-list__card">
                <div class="team-info">
                  <h3 class="team-list__title-developer">Jakub</h3>
                  <p class="team-list__position-developer">Developer</p>
                </div>
                <a
                  class="git-link"
                  href="http://github.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon-github">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list__item">
              <img
                class="team-img"
                src="./images/women1.png"
                alt="developer"
                width="150"
                height="150"
              />
              <div class="team-list__card">
                <div class="team-info">
                  <h3 class="team-list__title-developer">Karolina</h3>
                  <p class="team-list__position-developer">Developer</p>
                </div>
                <a
                  class="git-link"
                  href="https://github.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon-github">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list__item">
                <img
                  class="team-img"
                  src="./images/men1.png"
                  alt="developer"
                  width="200"
                />
                <div class="team-list__card">
                  <div class="team-info">
                    <h3 class="team-list__title-developer">Krzysiek</h3>
                    <p class="team-list__position-developer">Developer</p>
                  </div>
                  <a
                    class="git-link"
                    href="http://github.com"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="icon-github">
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </div>
              </li>
            <li class="team-list__item">
              <img
                class="team-img"
                src="./images/women1.png"
                alt="developer"
                width="150"
                height="150"
              />
              <div class="team-list__card">
                <div class="team-info">
                  <h3 class="team-list__title-developer">Vika</h3>
                  <p class="team-list__position-developer">Developer</p>
                </div>
                <a
                  class="git-link"
                  href="https://github.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon-github">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list__item">
              <img
                class="team-img"
                src="./images/men1.png"
                alt="developer"
                width="150"
                height="150"
              />
              <div class="team-list__card">
                <div class="team-info">
                  <h3 class="team-list__title-developer">Janek</h3>
                  <p class="team-list__position-developer">Developer</p>
                </div>
                <a
                  class="git-link"
                  href="https://github.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon-github">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</footer>