<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="logo" href="#">
                <svg class="logo__icon">
                    <use href="./images/icons.svg#header-icon" ></use>
                </svg>
                <h1 class="logo__tittle">Filmoteka</h1>
            </a>
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav__link--acive" href="#">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">My library</a>
                </li>
            </ul>
        </nav>

        <form class="form">
            <div class="form--wrapper">
                <input class="form__input" id="search" type="text" name="searchQuery" autocomplete="off" placeholder="Movie search..." required/>
                <button class="form__btn" type="submit">
                    <svg class="form__icon">
                        <use href="./images/icons.svg#search-icon"></use>
                    </svg>
                </button>
                <!-- <label class="form__label" for="search">Movie search...</label> -->
             </div>
        </form>

        <span class="notification off">
            Search result not successful. Enter the correct movie name.
        </span>
    </div>
</header>