<!--<div class="modal off"></div>
<div class="film__overlay off"></div> -->

<div class="modal-movie__backdrop modal-movie__backdrop--is-hidden">
  <div class="modal-movie" data-modal>
    <button class="modal-movie__button--close" data-modal-close>
      <svg class="modal-content__icon-close-team" width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-movie__content">
      <div class="modal-movie__poster">
        <img class="modal-movie__poster--img" src="./images/no-poster.jpg" alt="movie poster"/>
      </div>
      <div class="modal-movie__information">
        <h2 class="modal-movie__title"></h2>
        <ul class="modal-movie__list">
          <li class="modal-movie__list-item">Vote / Votes<span class="modal-movie__vote"></span>/<span class="modal-movie__votes"></span></li>
          <li class="modal-movie__list-item"> Popularity<span class="modal-movie__popularity"></span></li>
          <li class="modal-movie__list-item">Original Title<span class="modal-movie__original-title"></span></li>
          <li class="modal-movie__list-item">Genre<span class="modal-movie__genre"></span></li>
        </ul>

        <h3 class="modal-mowie__about">ABOUT</h3>
        <p class="modal-movie__text"></p>
      
        <div class="modal-movie__button">
        <button class="modal-movie__button--watched" type="button">
          ADD TO WATCHED
        </button>
        <button class="modal-movie__button--queue" type="button">
          ADD TO QUEUE
        </button>
        </div>
      </div>
  </div>
</div>
