.footer {
    height: 77px;
    width: 100%;

    display: flex;
    align-items: center;   

    background-color: getColor(footer-bacground-color);
}

.footer__text {
    color: getColor(footer-text-color);
    
    display: flex;
    justify-content: center;  
}