.movie__list {
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .movie__list {
    justify-content: center;
  }
}
