.modal-movie__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 1000ms, cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    visibility 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-movie__backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-movie {
  // height: 958px;
  width: 280px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow-y: scroll;

  border-radius: 0.5rem;
  background-color: getColor('background-modal');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media screen and (min-width: 768px) {
    height: 562px;
    width: 618px;
    overflow-y: scroll;
  }

  @media screen and (min-width: 1024px) {
    height: 568px;
    width: 882px;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    margin: auto;
    overflow-y: scroll;
  }
}

.modal-movie__button--close {
  position: absolute;
  top: 13px;
  right: 2px;
  fill: getColor('title');
  background-color: getColor('background-modal');
  margin-left: auto;
  cursor: pointer;
  border: none;

  @media screen and (min-width: 768px) {
    top: 18px;
    right: 18px;
  }
}

.modal-movie__button--watched {
  width: 112.58px;
  height: 44px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #000000;
  outline: none;
  background-color: getColor('background-modal');
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: getColor(accent);
    border: 1px solid getColor(accent);
    filter: drop-shadow(0px 8px 16px rgba(255, 107, 1, 0.6));
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: getColor('background-modal');
    filter: none;
    transform: none;
    border: 1px solid #525252;
    color: getColor('modal-button-disabled');
  }

  @media screen and (min-width: 768px) {
    width: 125.03px;
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
    height: 44px;
  }
}

.modal-movie__button--queue {
  width: 112.58px;
  height: 44px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #000000;
  outline: none;
  background-color: getColor('background-modal');
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: getColor('background-modal');
    background-color: getColor(accent);
    border: 1px solid getColor(accent);
    filter: drop-shadow(0px 8px 16px rgba(255, 107, 1, 0.6));
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: getColor('background-modal');
    filter: none;
    transform: none;
    border: 1px solid #525252;
    color: getColor('modal-button-disabled');
  }

  @media screen and (min-width: 768px) {
    width: 125.03px;
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
    height: 44px;
  }
}

.modal-movie__poster--img {
  width: 240px;
  height: 356.57px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }

  @media screen and (min-width: 1024px) {
    width: 330px;
    height: 477.8px;
  }
}

.modal-movie__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: getColor('title');
  text-transform: uppercase;
  display: block;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-movie__list-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: getColor('modal-text-color');
  padding-bottom: 10px;

  &--text {
    width: 90px;
    display: inline-flex;

    @media screen and (min-width: 768px) {
      width: 110px;
    }
  }

  &--parm {
    display: inline-flex;
    width: 120px;

    @media screen and (min-width: 768px) {
      width: 150px;
    }

    @media screen and (min-width: 1024px) {
      width: 320px;
    }
  }
}

.modal-movie__vote {
  color: getColor('header-text-color');
  width: 36px;
  height: 16px;
  padding: 2px 6px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: getColor('accent');
  border-radius: 5px;
}

.modal-movie__votes {
  color: getColor('title');
  width: 36px;
  height: 16px;
  padding-left: 2px;
  border-radius: 5px;
}

.modal-movie__popularity {
  color: getColor('title');
}

.modal-movie__original-title {
  color: getColor('title');
  text-transform: uppercase;
}

.modal-movie__genre {
  color: getColor('title');
}

.modal-movie__about {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: getColor('title');
}

.modal-movie__text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.modal-movie__content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 29px;
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 1024px) {
    padding: 30px;
  }
}

.modal-movie__information {
  display: flex;
  flex-direction: column;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    padding-left: 20px;
  }
}

.modal-movie__button {
  display: flex;
}

.modal-movie__poster {
  padding-top: 28px;

  @media screen and (min-width: 768px) {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
    padding-bottom: 14px;
  }

  @media screen and (min-width: 1024px) {
    padding: 14px;
  }
}

.modal-movie__button {
  gap: 15px;
  display: flex;
  align-items: flex-end;
  height: 65px;
}

.modal-movie__list {
  display: inline;
  justify-content: space-evenly;
}
