.pagination-container {
    
    text-align: center;

    &__button {
        border: none;
        background-color: inherit;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        line-height: 16px;
        width: 40px;
        height: 40px;
        

        &--active {

            border-radius: 4px;
            color: white;
            background-color: #FF6B08;
        }
      
      }
      &__prev-button, &__next-button {

        width: 40px; 
        height: 40px; 
    border-radius: 4px; 
border: none; 
background-color: #F7F7F7; 
cursor: pointer}

    }
